[Global]
server = "${vcenter_server}"
port = "443"
user = "${vcenter_user}"
password = "${vcenter_password}"
insecure-flag = "${vcenter_sslselfsigned}"
datacenter = "${vcenter_datacenter}"
datastore = "${vcenter_datastore}"
vm-name = "${vm_hostname}"
working-dir = "${vcenter_folder}"

[Disk]
scsicontrollertype = pvscsi
